.footer-container {
    background-image: url("images/footerMO.png");
    background-repeat: no-repeat;
    width: 100%;
    clear: both;
    height: 350px;
    display: grid;
    grid-template-areas: 
    ". one . two . three .";
    justify-content:space-evenly;
}


/* box one 
---------------------------------------------------- */
.box-one {
    grid-area: one;
    width: 350px;
    position: relative;
    text-align: center;
    z-index: 0;
    background-image: url('images/sliceO.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40%;
}

.div-box-header {
    margin: 20px 35px;
    font-weight: bold;
    font-family: myFirstFont;
    font-size:250%;
    text-decoration: wavy;
    color: #f2f4f3;
    position: absolute;
    opacity: 0.5;
    text-align: center;
    width:280px;


}

.one-socials {
    display: grid;
    grid-template-areas: 
    ". one . two . three .";
    justify-content:space-evenly;
    gap: 20px;
    top: 70%;
    transform: translateY(-70%);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.socialImgs {
    border-radius: 10px;
    opacity: 0.5;
}
.one-socials-twitter {
    grid-area: one;
    border-radius: 10px;
}.one-socials-facebook {
    grid-area: two;

}.one-socials-instagram {
    grid-area: three;
}
/* ---------------------------------------------------- */



.box-two {
    grid-area: two;
    width: 350px;
    position: relative;
    text-align: center;
}

.two-list {

    position: absolute;
    text-align: center;
    list-style: none;
    font-weight:200;
    font-family: myFirstFont;
    font-size: 120%;
    color: #f2f4f3;
    opacity: 0.8;
    line-height: 1.8em;
    margin-top: 80px;
    padding: 0;
    margin-left: 22px;
}


.box-three {
    grid-area: three;
    width: 350px;
    position: relative;
}

.footer-table {
    margin-top: 70px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: myFirstFont;
    color: #f2f4f3;
    margin-left: 16px;
} 

label, input {
    line-height: 2em;
}

input#box {
    width: 300px;
    height: 100px;
    opacity: 0.5;
}

input {
    opacity: 0.5;
}


